<header class="glass-header">
  <a id="logoHeader" href="/">
    <img src="assets/images/ChLogo-horizontal.svg" alt="LogoCH">
  </a>

  <nav id="nav">
    <a href="#about">{{ "header.about" | translate }}</a>
    <span>|</span>
    <a href="#projects">{{ "header.projects" | translate }}</a>
    <span>|</span>
    <a href="#contact">{{ "header.contact" | translate }}</a>
  </nav>
  <app-cv-selector></app-cv-selector>

  <!-- <button class="btn-secondary" (click)="toggleLanguage()">
    {{ this.currentLang.toUpperCase() }}
    <span class="icon"><i class="fa-solid fa-globe"></i></span>
  </button> -->

  <!-- <nav id="sidebar" class="sidebar">
    <ul>
      <li><a href="#about">{{ "header.about" | translate }}</a></li>
      <li><a href="#projects">{{ "header.projects" | translate }}</a></li>
      <li><a href="#contact">{{ "header.contact" | translate }}</a></li>
    </ul>
    <button class="btn-secondary" (click)="toggleLanguage()">
      {{ this.currentLang.toUpperCase() }}
      <span class="icon"><i class="fa-solid fa-globe"></i></span>
    </button>
  </nav> -->
</header>
