:host {
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
}

app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1e1e1e;

  app-hero {
    position: relative;
    z-index: 1;
    height: calc(100vh - 7rem);
  }
}

.resume {
  max-width: 80%;
  margin: auto;
  padding: 20px;
  text-align: center;

  &-title {
    font-family: "Monda", sans-serif;
    text-align: center;
    color: white;
    font-size: 50px;
    margin-bottom: 1rem;
  }
}

/* Contenedor principal en dos columnas */
.resume-container {
  display: flex;
  gap: 80px;
}

/* Izquierda - Experiencia Laboral */
.experience {
  flex: 1;
  text-align: left;
}

/* Derecha - Educación y Certificados */
.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

/* Diseño Responsivo */
@media (max-width: 768px) {
  .resume-container {
      flex-direction: column;
  }
}

.skills {
  display: flex;
  flex-direction: row;
  max-width: 80%;
  margin: auto;
  padding: 20px;
  gap: 80px;

  .left-side, .right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
}
