.certificates-container {
    width: 100%;
  
    .title {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1.5rem;
      text-align: center;
    }
  
    .carousel {
      width: 100%;
      overflow: hidden;
      color: #1e1e1e !important;
    }
  
    .carousel-item {
      padding: 0.5rem;
    }
  
    .card {
      background: linear-gradient(
        to bottom right,
        rgba(var(--background), 0.4),
        rgba(var(--background), 0.6),
        rgba(var(--background), 0.4)
      );
      backdrop-filter: blur(10px);
      border: 1px solid rgba(var(--primary), 0.1);
      box-shadow: 0 0 15px rgba(var(--primary), 0.1);
      border-radius: 8px;
      overflow: hidden;
      transition: transform 0.2s ease-in-out;
  
      &:hover {
        transform: scale(1.03);
      }
    }
  
    .image-container {
      height: 160px;
      overflow: hidden;
  
      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease-in-out;
  
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  
    .card-content {
      padding: 1rem;
      text-align: center;
  
      .title {
        font-size: 1.2rem;
        font-weight: bold;
      }
  
      .issuer {
        font-size: 0.9rem;
        color: rgba(var(--foreground-muted), 0.8);
      }
  
      .date {
        font-size: 0.8rem;
        margin-top: 0.5rem;
        color: rgba(var(--foreground-muted), 0.6);
      }
    }
  }
  