<section class="hero">
  <div class="hero-container">
    <div class="hero-left">
      <h1>{{"hero.hello" | translate }} <br><span class="highlight">~/Christian Salazar</span></h1>
      <app-linux-terminal [text]="profileDescription"></app-linux-terminal>
      <div class="social-icons flex space-x-4 mt-4">
        <a href="https://github.com/cfsalazarp" target="_blank">
          <i class="fa-brands fa-github fa-2xl"></i>
        </a>
        <a href="https://linkedin.com/in/christiansalazar10/" target="_blank">
          <i class="fa-brands fa-linkedin fa-2xl"></i>
        </a>
        <a href="mailto:christiansalazar1129@gmail.com" target="_blank">
          <i class="fa-solid fa-envelope fa-2xl"></i>
        </a>
      </div>
    </div>
    <div class="hero-right">
      <img src="assets/images/ChristianMemoji.webp" alt="Profile Christian">
    </div>
  </div>
</section>
