<section class="hero">
  <div class="hero-container">
    <div class="hero-left">
      <h1>{{"hero.hello" | translate }} <br><span class="highlight">~/Christian Salazar</span></h1>
      <app-linux-terminal [text]="terminalText"></app-linux-terminal>
      <div class="social-icons flex space-x-4 mt-4">
        <button size="h-9 w-9" href="https://github.com/cfsalazarp" target="_blank">
          <i class="fa-brands fa-github fa-2xl"></i>
        </button>
        <button href="https://linkedin.com" target="_blank">
          <i class="fa-brands fa-linkedin fa-2xl"></i>
        </button>
        <button href="mailto:christiansalazar1129@gmail.com" target="_blank">
          <i class="fa-solid fa-envelope fa-2xl"></i>
        </button>
      </div>
    </div>
    <div class="hero-right">
      <img src="assets/images/profile.png" alt="Profile Image">
    </div>
  </div>
</section>
