:root {
  --x: 50vw;
  --y: 50vh;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  background-color: hsla(109, 32%, 23%, 1);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 3000 3000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
    radial-gradient(
      circle at 58% 47%,
      hsla(109, 99%, 6%, 1) 3%,
      transparent 60%
    ),
    radial-gradient(
      circle at 28% 43%,
      hsla(153, 99%, 13%, 1) 3%,
      transparent 60%
    ),
    radial-gradient(
      circle at 82% 29%,
      hsla(104, 61%, 16%, 1) 3%,
      transparent 60%
    ),
    radial-gradient(
      circle at 48% 61%,
      hsla(65, 62%, 94%, 1) 3%,
      transparent 60%
    ),
    radial-gradient(
      circle at 28% 90%,
      hsla(141, 51%, 61%, 1) 3%,
      transparent 60%
    ),
    radial-gradient(
      circle at 72% 80%,
      hsla(99, 43%, 0%, 1) 3%,
      transparent 82.57711066574348%
    ),
    radial-gradient(
      circle at 61% 49%,
      hsla(70, 64%, 53%, 1) 3%,
      transparent 40.73941632046726%
    );
  background-blend-mode: overlay, normal, normal, normal, normal, normal, normal,
    normal;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  position: relative;

  --sb-track-color: #ffffff4d;
  --sb-thumb-color: #1e1e1e;
  --sb-size: 14px;
  @media screen and (min-width: 767px) {
    overflow-x: hidden;
  }
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

h3,
h4 {
  font-family: "Monda", sans-serif;
  font-weight: 400;
}

p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

//Efecto
@media screen and (min-width: 767px) {
  // body::after {
  //   content: "";
  //   position: absolute;
  //   left: var(--x);
  //   top: var(--y);
  //   width: 250px;
  //   height: 250px;
  //   background: radial-gradient(
  //     circle,
  //     rgba(255, 255, 255, 0.4) 0%,
  //     rgba(0, 0, 0, 0) 80%
  //   );
  //   border-radius: 50%;
  //   transform: translate(-50%, -50%);
  //   pointer-events: none;
  //   transition: left 0.05s linear, top 0.05s linear;
  // }
}

/* Para móviles pequeños */
@media (max-width: 480px) {
}

/*Para móviles grandes*/
@media (max-width: 767px) {
}

/* Para tablets */
@media (max-width: 1024px) {
}

/* Para escritorios pequeños */
@media (max-width: 1280px) {
}

/* Para escritorios grandes */
@media (min-width: 1441px) {
}

.btn-secondary {
  font-size: 14px;
  font-weight: 700;
  background: none;
  border: 2px solid #1e1e1e;
  padding: 5px 10px;
  border-radius: 20px;
  color: #1e1e1e;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  .icon {
    margin-left: 5px;
  }
}

.btn-secondary:hover {
  opacity: 0.7;
  color: white;
  border-color: white;
}

.btn-link {
  font-size: 14px;
  font-weight: 700;
  background: none;
  border: 2px solid #1e1e1e;
  padding: 5px 10px;
  border-radius: 20px;
  color: #1e1e1e;
  display: inline-flex; /* Mantiene alineación de iconos y texto */
  align-items: center;
  cursor: pointer;
  text-decoration: none; /* Remueve el subrayado de los enlaces */
  transition: all 0.3s ease;
  .icon {
    margin-left: 5px;
  }
}

.btn-link:hover {
  opacity: 0.7;
  color: white;
  border-color: white;
}